.hdg{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;  
  background:orange;
}
  
.choco{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  margin: 0px;
  
}
#c{
  height: 100px;
  width: 90px;
  object-fit: cover;
  margin-top: 0px;
}
button{
  height: 100px;
  width: 100px;
margin-right: 20px;
  background:orange;
  font-size: 50px;
} 

.slider{
  width: 100%;
  
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}
.track {
  height:100%;
  width: 300%;
  object-fit: cover;
  display: flex;
  transition: transform 0.5s ease;
}
.track img{
  height: 100%;
  width: 33.33%;
  object-fit: cover;
}
#name{
  color: #964B01;
  font-size: 60px;
  font-weight: bold;
  font-family:  serif;    
  }
#sym{
  margin:50px ;
}
#badge{
  height: 20px;
  width: 40px;
  border-radius:20px
}