.hdg{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;  
  background:orange;
}
  
.choco{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  margin: 0px;
  
}
#c{
  height: 100px;
  width: 90px;
  object-fit: cover;
  margin-top: 0px;
}
button{
  height: 100px;
  width: 100px;
margin-right: 20px;
  background:orange;
  font-size: 50px;
} 

.slider{
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  
}
.track {
  height:100%;
  width: 300%;
  object-fit: cover;
  display: flex;
  transition: transform 0.7s ease;
}
.track img{
  height: 100%;
  width: 33.33%;
  object-fit: cover;
}
#name{
  color: #964B01;
  font-size: 60px;
  font-weibox-shadow: inset 0 0 0 1px rgba(201, 162, 75, 0.4);
}
#cap{
  background:#964B01;
  height: 100%;
  width: 100%;
}
.badge{
  
  margin: 25px auto;
  text-align: center;
  height: 100px;
  width: 160px;
  background:#964B01;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}
.star{
  letter-spacing: 2px;
}